.sidebar {
  height: 100vh;
  width: 100px;
  box-shadow: 0 0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 550px) {
  .sidebar {
    display: none !important;
  }
}

.sidebar .icon {
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}
.sidebar .icon2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.active{
  background-color: #E9EFFF;
  padding: 5px 10px;
  color: #1D4ED8;
  border-radius: 5px;
}